body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
}

h1 {
  color: #22c55e;
}

input, button {
  margin: 5px;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

input {
  width: 220px;
}

button {
  background: #22c55e;
  color: black;
  cursor: pointer;
}

button:hover {
  background: #16a34a;
}

#logoutBtn {
  position: absolute;
  top: 10px;
  right: 10px;
}

#empleadoPanel, #adminPanel {
  margin-top: 20px;
}

.card {
  border: 1px solid white;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
