/* FILAS EMPLEADO (mis solicitudes) */
#misSolicitudes .fila {
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
}

/* Inputs tipo fecha */
input[type="date"] {
  background: white;
  color: black;
}

/* Select */
select {
  background: white;
  color: black;
}

/* Checkbox */
input[type="checkbox"] {
  transform: scale(1.2);
  margin-left: 10px;
}

/* Responsive */
@media (max-width: 768px) {
  .fila {
    grid-template-columns: 1fr;
  }
}
